<div class="container">
    <div class="title center">
        Checkout
      </div>
      <form class="checkout-form" #checkoutForm="ngForm">
      <div class="row">
        <div class="col-50">
          <h4>Shipping & Billing Address</h4>
          <h5>Customer details:</h5><br>
          <div class="input-field">        
            <input type="text" id="fullname" name="fullname" class="validate" required="" aria-required="true" [(ngModel)]="customer.customerName">  
            <label for="fullname" data-error="wrong" class="center-align" data-success="right"> * Full Name</label>
          </div>
          <div class="input-field">  
            <label for="email"> * Email</label>
            <input type="email" name="email" class="validate" required="" aria-required="true" minlength="7" [(ngModel)]="customer.email">          
          </div>
          <div class="input-field">            
            <input type="text" id="address" name="address" class="validate" required="" aria-required="true" [(ngModel)]="street">
            <label for="address"> * Address</label>
          </div>
          <div class="input-field">     
            <input type="text" id="city" name="city" class="validate" required="" aria-required="true" [(ngModel)]="city">    
            <label for="city"> * City</label>
          </div>
          <div class="row">
            <div class="col-50">
              <div class="input-field">               
                <input type="text" id="state" name="state" [(ngModel)]="state">
                <label for="state"> State</label>
              </div>
            </div>
            <div class="col-50">
              <div class="input-field">  
                <input type="text" id="zip" name="zip" required="" aria-required="true" [(ngModel)]="zip">
                <label for="zip"> * Zip</label>
              </div>
            </div>
          </div>
        </div>
        <div class="input-field"> 
          <button class="btn btn-medium btn-checkout waves-effect waves-light" onclick="ConfirmForm();" type="submit" name="action" [disabled]="checkoutForm.form.invalid">Checkout
            <i class="material-icons right">done</i>
          </button>
          <input type="button" value="<Back" (click)="goBack()" class="btn right"> 
        </div>    
      </div>  
     </form>   
</div>

<div id="BlockUIConfirm" class="BlockUIConfirm" style="display: none;">
	<div class="blockui-mask"></div>
	<div class="RowDialogBody">
		<div class="confirm-header row-dialog-hdr-success">
			Confirm Acceptance
		</div>
		<div class="confirm-body">
			Are you sure you want to place order?
		</div>
		<div class="confirm-btn-panel pull-right">
			<div class="btn-holder pull-right">
				<input type="submit" class="row-dialog-btn btn btn-success" value="Accept" (click)="checkout()" />
				<input type="button" class="row-dialog-btn btn btn" value="Cancel" onclick="$('#BlockUIConfirm').hide();"/>
			</div>
		</div>
	</div>
</div>


